
* {
    font-family: sans-serif
}

section {
    display: inline-block;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 2px 10px;
    border: 1px solid black;
}

th {
    background-color: rgba(200, 200, 200)
}

#yesterday {
    float: left;
}
#controls {
    text-align: center;
}
#tomorrow {
    float: right;
}

button {
    padding: 0px 20px;
}

@media screen and (max-width:800px){
    .menu {
        width:100%x;
    }
}